<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Javier Lopez | Web Architech Consultant{% endblock %}</title>

  <!-- Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/css/material-kit.css?v=1.2.0'|url }}">
</head>
<body class="{% block body_class %}contact-page{% endblock %}">
  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ '/'|url }}" class="navbar-brand">Javier Lopez</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for href, title, icon in [['/', 'Home', 'homey'], ['/services', 'Servicios', 'list'], ['/contact', 'Contacto', 'email']] %}
          <li class="nav-item">
            <a class="nav-link" href="{{ href|url }}"
               ><i class="material-icons">{{ icon }}</i>{{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  {% block headline %}{% endblock %}
  {% if this.body %}
  <div class="wrapper">
    <div class="header"></div>
    <div class="main main-raised">
      <div class="container">
        {{ this.body }}
      </div>
    </div>
  </div>
  {% endif %}
  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          {% for href, title in [['/services', 'Servicios'], ['/contact', 'Contacto']] %}
          <li{% if this.is_child_of(href) %} class="nav-item active"{% else %} class="nav-item"{% endif%}>
            <a class="nav-link" href="{{ href|url }}">{{ title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <div class="copyright pull-right">
        &copy; 2018 Javier Lopez. Todos los derechos reservados
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="{{ '/static/js/jquery.min.js'|url }}" type="text/javascript"></script>
  <script src="{{ '/static/js/bootstrap.min.js'|url }}" type="text/javascript"></script>
  <script src="{{ '/static/js/material.min.js'|url }}" type="text/javascript"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="{{ '/static/js/material-kit.js'|url }}" type="text/javascript"></script>
</body>
</html>
